.part1 body,
body .part1 {
	background: #176489;
}
.part2 body,
body .part2 {
	background: #C89100;
}
.part3 body,
body .part3 {
	background: #D9441D;
}
.beatlemania {
	max-height: 200px !important;
}

body .section-title {
	padding: 0.5em;
}